            body { background-color:#240a; }

    h1 { font-size: 19pt; color: Orange }
h2{ font-size: 18pt; font-family:algerian ; color:#660000}
h3{text-decoration: underline}
ul{font-size: 15pt; font-family:calibri}    
  li{font-size: 14pt; font-color: blue}  
  p{font-style:italic; font-size: 17pt; color: #3400067} 
ol{font-size: 14pt;}   
p2{font-size: 17pt; font-color:green}