body, h1, h2, p, ul, li {
    background-color:#ffcc99;
    
}

header {
    background-color: #91ff;
    color: #888eee;
    text-align: center;
    padding: 20px;
}

nav ul {
    padding: 0;
}
h2{
    font-family: arial;
    text-align: center;
}
p{
   text-align:center;
   font-family: arial;
}
.p2{
    padding-left: 40px;
    color: orangered;
    font-family: arial;
}
nav a {
    
}
main{
   align-content: center;
     display: flex;
align-items: center; 
 justify-content: center;
}

footer {
    background-color: #a333;
    color: black;
    text-align: center;
    padding: 10px;
}
.Image2{
    display: flex;
align-items: center; 
 justify-content: center;
 align-content: center;


}
.Image3{
    display: flex;
align-items: center; 
 justify-content: center;
 align-content: center;
}


a:link {
  color: red;
}

a:visited {
  color: #3049ad;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
nav a {
    text-decoration: none;
          border-color: #E6E6FA;
    font-weight: bold;
    margin-top: 200pt;
      border-style:ridge;
      border-color: #6f6;

   color:deepskyblue;
    font-weight: bold;
    align-content: center;

}
nav li {
    font-size: 16pt;
    display: inline;
    margin-right: 20px;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    display: flex;
    
}

h1 { font-size: 19pt;
  color: darkblue;
  text-shadow: 2px 2px 5px red;
  text-align: center;
    }
h2{ font-size: 18pt; font-family:algerian ; color:#660000;
    border:2px solid #eea000;
    width: 400pt;
    background-color: #777000;
    margin-left: auto;
    margin-right: auto;

  }
h3{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  color:white;
  }
h4{
  font-size: 18pt; font-family:algerian ; color:floralwhite;
  box-shadow: 1px 2px ;
  padding:10px;
}
.nav { float: left;
     width: auto; 

   } 
.nav1{ float:right;
      width: auto; 
       padding: 10px;
    }
ul{
  font-size: 15pt; font-family:calibri;
  border:2px solid blue;
  width:auto;
  background-color: lightyellow;
  opacity: 0.5;
    padding: 20px;
}    
ol{

  font-size: 14pt;
  border:2px solid skyblue;
  width:auto;
  height: auto;
  background-color: lightyellow;
  opacity: 0.5;
  padding: 20px;
 

}
li{
  font-size: 14pt; color: black;
}  

img{
    height: 500px;
    width: 650px;
  border:2px solid lightcyan;
  border-radius: 50%; 
  vertical-align: middle;
}
#footer{
  width: 80%;


  text-indent: 50px;
  margin-left: auto;
  margin-right: auto;
  font-style:italic; font-size: 17pt; color: yellowgreen;
  clear:both ;
}   